@import './fonts.css';
@import './variables.css';
@import './transitionStyles.css';
@import './prismStyles.css';

html {
  box-sizing: border-box;
  width: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

::selection {
  background-color: var(--lightest-navy);
  color: var(--lightest-slate);
}

:focus {
  outline: 2px dashed var(--green);
  outline-offset: 3px;
}

:focus:not(:focus-visible) {
  outline: none;
  outline-offset: 0px;
}

:focus-visible {
  outline: 2px dashed var(--green);
  outline-offset: 3px;
}

html {
  scrollbar-width: thin;
  scrollbar-color: var(--dark-slate) var(--navy);
}
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: var(--navy);
}
::-webkit-scrollbar-thumb {
  background-color: var(--dark-slate);
  border: 3px solid var(--navy);
  border-radius: 10px;
}

body {
  margin: 0;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: var(--navy);
  color: var(--slate);
  font-family: var(--font-sans);
  font-size: var(--fz-xl);
  line-height: 1.3;
}
@media (max-width: 480px) {
  body {
    font-size: var(--fz-lg);
  }
}

body .hidden {
  overflow: hidden;
}

body .blur {
  overflow: hidden;
}

body .blur header {
  background-color: transparent;
}

body .blur #content > * {
  filter: blur(5px) brightness(0.7);
  transition: var(--transition);
  pointer-events: none;
  user-select: none;
}

#root {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: 100%;
}

main {
  margin: 0 auto;
  width: 100%;
  max-width: 1600px;
  min-height: 100vh;
  padding: 200px 150px;
}

@media (max-width: 1080px) {
  main {
    padding: 200px 100px;
  }
}
@media (max-width: 768px) {
  main {
    padding: 150px 50px;
  }
}
@media (max-width: 480px) {
  main {
    padding: 125px 25px;
  }
}

main.fillHeight {
  padding: 0 150px;
}

@media (max-width: 1080px) {
  main.fillHeight {
    padding: 0 100px;
  }
}
@media (max-width: 768px) {
  main.fillHeight {
    padding: 0 50px;
  }
}
@media (max-width: 480px) {
  main.fillHeight {
    padding: 0 25px;
  }
}

section {
  margin: 0 auto;
  padding: 100px 0;
  max-width: 1000px;
}

@media (max-width: 768px) {
  section {
    padding: 80px 0;
  }
}

@media (max-width: 480px) {
  section {
    padding: 60px 0;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 10px 0;
  font-weight: 600;
  color: var(--lightest-slate);
  line-height: 1.1;
}

.big-heading {
  margin: 0;
  font-size: clamp(40px, 8vw, 80px);
}

.medium-heading {
  margin: 0;
  font-size: clamp(40px, 8vw, 60px);
}

.numbered-heading {
  display: flex;
  align-items: center;
  position: relative;
  margin: 10px 0 40px;
  width: 100%;
  font-size: clamp(26px, 5vw, var(--fz-heading));
  white-space: nowrap;
}
.numbered-heading::before {
  position: relative;
  bottom: 4px;
  counter-increment: section;
  content: '0' counter(section) '.';
  margin-right: 10px;
  color: var(--green);
  font-family: var(--font-mono);
  font-size: clamp(var(--fz-md), 3vw, var(--fz-xl));
  font-weight: 400;
}
@media (max-width: 480px) {
  .numbered-heading::before {
    margin-bottom: -3px;
    margin-right: 5px;
  }
}

.numbered-heading::after {
  content: '';
  display: block;
  position: relative;
  top: -5px;
  width: 300px;
  height: 1px;
  margin-left: 20px;
  background-color: var(--lightest-navy);
}

@media (max-width: 1080px) {
  .numbered-heading::after {
    width: 200px;
  }
}
@media (max-width: 768px) {
  .numbered-heading::after {
    width: 100%;
  }
}
@media (max-width: 600px) {
  .numbered-heading::after {
    margin-left: 10px;
  }
}

img,
svg,
.gatsby-image-wrapper {
  width: 100%;
  max-width: 100%;
  vertical-align: middle;
}

img[alt=''],
img:not([alt]) {
  filter: blur(5px);
}

svg {
  width: 100%;
  height: 100%;
  fill: currentColor;
  vertical-align: middle;
}
svg.feather {
  fill: none;
}

a {
  display: inline-block;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  color: inherit;
  position: relative;
  transition: var(--transition);
}
a:hover,
a:focus {
  color: var(--green);
}

a.inline-link {
  display: inline-block;
  position: relative;
  color: var(--green);
  transition: var(--transition);
}
a.inline-link:hover,
a.inline-link:focus-visible {
  color: var(--green);
  outline: 0;
}
a.inline-link:hover::after,
a.inline-link:focus-visible::after {
  width: 100%;
}
a.inline-link:hover > *,
a.inline-link:focus-visible > * {
  color: var(--green) !important;
  transition: var(--transition);
}
a.inline-link::after {
  content: '';
  display: block;
  width: 0;
  height: 1px;
  position: relative;
  bottom: 0.37em;
  background-color: var(--green);
  opacity: 0.5;
}
@media (prefers-reduced-motion: no-preference) {
  a.inline-link::after {
    transition: var(--transition);
  }
}

button {
  cursor: pointer;
  border: 0;
  border-radius: 0;
}

input,
textarea {
  border-radius: 0;
  outline: 0;
}
input:focus,
textarea:focus {
  outline: 0;
}
input:focus,
textarea:focus,
input:active,
textarea:active,
input:focus::placeholder,
textarea:focus::placeholder,
input:active::placeholder,
textarea:active::placeholder {
  opacity: 0.5;
}

p {
  margin: 0 0 15px 0;
}
p:last-child,
p:last-of-type {
  margin: 0;
}

p > a {
  display: inline-block;
  position: relative;
  color: var(--green);
  transition: var(--transition);
}
p > a.inline-link:hover,
p > a.inline-link:focus-visible {
  color: var(--green);
  outline: 0;
}
p > a.inline-link:hover::after,
p > a.inline-link:focus-visible::after {
  width: 100%;
}
p > a.inline-link:hover > *,
p > a.inline-link:focus-visible > * {
  color: var(--green) !important;
  transition: var(--transition);
}
p > a.inline-link::after {
  content: '';
  display: block;
  width: 0;
  height: 1px;
  position: relative;
  bottom: 0.37em;
  background-color: var(--green);
  opacity: 0.5;
}
@media (prefers-reduced-motion: no-preference) {
  p > a.inline-link::after {
    transition: var(--transition);
  }
}

p > code {
  background-color: var(--light-navy);
  color: var(--white);
  font-size: var(--fz-sm);
  border-radius: var(--border-radius);
  padding: 0.3em 0.5em;
}

ul,
ul.fancy-list {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: var(--fz-lg);
}
ul.fancy-list li {
  position: relative;
  padding-left: 30px;
  margin-bottom: 10px;
}
ul.fancy-list li::before {
  content: '▹';
  position: absolute;
  left: 0;
  color: var(--green);
}

blockquote {
  border-left-color: var(--green);
  border-left-style: solid;
  border-left-width: 1px;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 1.5rem;
}
blockquote p {
  font-style: italic;
  font-size: 24px;
}

hr {
  background-color: var(--lightest-navy);
  height: 1px;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
  margin: 1rem;
}

code {
  font-family: var(--font-mono);
  font-size: var(--fz-md);
}

.skip-to-content {
  color: var(--green);
  background-color: transparent;
  border: 1px solid var(--green);
  border-radius: var(--border-radius);
  font-size: var(--fz-xs);
  font-family: var(--font-mono);
  line-height: 1;
  text-decoration: none;
  padding: 1.25rem 1.75rem;
  transition: var(--transition);
  position: absolute;
  top: auto;
  left: -999px;
  width: 1px;
  height: 1px;
  overflow: hidden;
  z-index: -99;
}
.skip-to-content:hover,
.skip-to-content:focus-visible {
  outline: none;
  box-shadow: 4px 4px 0 0 var(--green);
  transform: translate(-5px, -5px);
}
.skip-to-content::after {
  display: none !important;
}

.skip-to-content:hover,
.skip-to-content:focus {
  background-color: var(--green);
  color: var(--navy);
  top: 0;
  left: 0;
  width: auto;
  height: auto;
  overflow: auto;
  z-index: 99;
  box-shadow: none;
  transform: none;
}

#logo {
  color: var(--green);
}

.overline {
  color: var(--green);
  font-family: var(--font-mono);
  font-size: var(--fz-md);
  font-weight: 400;
}

.subtitle {
  color: var(--green);
  margin: 0 0 20px 0;
  font-size: var(--fz-md);
  font-family: var(--font-mono);
  font-weight: 400;
  line-height: 1.5;
}
@media (max-width: 1080px) {
  .subtitle {
    font-size: var(--fz-sm);
  }
}
@media (max-width: 768px) {
  .subtitle {
    font-size: var(--fz-xs);
  }
}

.subtitle a {
  line-height: 1.5;
  display: inline-block;
  position: relative;
  color: var(--green);
  transition: var(--transition);
}
.subtitle a:hover,
.subtitle a:focus-visible {
  color: var(--green);
  outline: 0;
}
.subtitle a:hover::after,
.subtitle a:focus-visible::after {
  width: 100%;
}
.subtitle a:hover > *,
.subtitle a:focus-visible > * {
  color: var(--green) !important;
  transition: var(--transition);
}
.subtitle a::after {
  content: '';
  display: block;
  width: 0;
  height: 1px;
  position: relative;
  bottom: 0.37em;
  background-color: var(--green);
  opacity: 0.5;
}
@media (prefers-reduced-motion: no-preference) {
  .subtitle a::after {
    transition: var(--transition);
  }
}

.breadcrumb {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  color: var(--green);
}
.breadcrumb.arrow {
  display: block;
  margin-right: 10px;
  padding-top: 4px;
}

.breadcrumb a {
  font-family: var(--font-mono);
  font-size: var(--fz-sm);
  font-weight: 600;
  line-height: 1.5;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  display: inline-block;
  position: relative;
  color: var(--green);
  transition: var(--transition);
}
.breadcrumb a:hover,
.breadcrumb a:focus-visible {
  color: var(--green);
  outline: 0;
}
.breadcrumb a:hover::after,
.breadcrumb a:focus-visible::after {
  width: 100%;
}
.breadcrumb a:hover > *,
.breadcrumb a:focus-visible > * {
  color: var(--green) !important;
  transition: var(--transition);
}
.breadcrumb a::after {
  content: '';
  display: block;
  width: 0;
  height: 1px;
  position: relative;
  bottom: 0.37em;
  background-color: var(--green);
  opacity: 0.5;
}
@media (prefers-reduced-motion: no-preference) {
  .breadcrumb a::after {
    transition: var(--transition);
  }
}

.gatsby-image-outer-wrapper {
  height: 100%;
}

ul.jobs-list li {
  position: relative;
  margin-bottom: 10px;
  padding-left: 20px;
  font-family: var(--font-sans);
  font-size: var(--fz-lg);
}

ul.jobs-list li::before {
  content: '▹';
  position: absolute;
  left: 0;
  color: var(--green);
  font-size: var(--fz-sm);
  line-height: 20px;
}
