.button {
  color: var(--green);
  background-color: transparent;
  border: 1px solid var(--green);
  border-radius: var(--border-radius);
  font-size: var(--fz-xs);
  font-family: var(--font-mono);
  line-height: 1;
  text-decoration: none;
  padding: 1.25rem 1.75rem;
  transition: var(--transition);
}
.button:hover,
.button:focus-visible {
  outline: none;
  box-shadow: 4px 4px 0 0 var(--green);
  transform: translate(-5px, -5px);
}
.button::after {
  display: none !important;
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  display: inline-block;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  color: inherit;
  position: relative;
  transition: var(--transition);
}
.link:hover,
.link:focus-visible {
  color: var(--green);
  outline: 0;
}

.inlineLink {
  display: inline-block;
  position: relative;
  color: var(--green);
  transition: var(--transition);
}
.inlineLink:hover,
.inlineLink:focus-visible {
  color: var(--green);
  outline: 0;
}
.inlineLink:hover::after,
.inlineLink:focus-visible::after {
  width: 100%;
}
.inlineLink:hover > *,
.inlineLink:focus-visible > * {
  color: var(--green) !important;
  transition: var(--transition);
}
.inlineLink::after {
  content: '';
  display: block;
  width: 0;
  height: 1px;
  position: relative;
  bottom: 0.37em;
  background-color: var(--green);
  opacity: 0.5;
}
@media (prefers-reduced-motion: no-preference) {
  .inlineLink::after {
    transition: var(--transition);
  }
}

.smallButton {
  color: var(--green);
  background-color: transparent;
  border: 1px solid var(--green);
  border-radius: var(--border-radius);
  padding: 0.75rem 1rem;
  font-size: var(--fz-xs);
  font-family: var(--font-mono);
  line-height: 1;
  text-decoration: none;
  transition: var(--transition);
}
.smallButton:hover,
.smallButton:focus-visible {
  outline: none;
  box-shadow: 3px 3px 0 0 var(--green);
  transform: translate(-4px, -4px);
}
.smallButton::after {
  display: none !important;
}

.bigButton {
  color: var(--green);
  background-color: transparent;
  border: 1px solid var(--green);
  border-radius: var(--border-radius);
  padding: 1.25rem 1.75rem;
  font-size: var(--fz-sm);
  font-family: var(--font-mono);
  line-height: 1;
  text-decoration: none;
  transition: var(--transition);
}
.bigButton:hover,
.bigButton:focus-visible {
  outline: none;
  box-shadow: 4px 4px 0 0 var(--green);
  transform: translate(-5px, -5px);
}
.bigButton::after {
  display: none !important;
}

.boxShadow {
  box-shadow: 0 10px 30px -15px var(--navy-shadow);
  transition: var(--transition);
}
.boxShadow:hover,
.boxShadow:focus-visible {
  box-shadow: 0 20px 30px -15px var(--navy-shadow);
}

.fancyList {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: var(--fz-lg);
}
.fancyList li {
  position: relative;
  padding-left: 30px;
  margin-bottom: 10px;
}
.fancyList li::before {
  content: '▹';
  position: absolute;
  left: 0;
  color: var(--green);
}

.resetList {
  list-style: none;
  padding: 0;
  margin: 0;
}
